name: Security audit
on:
  push:
    # Temporarily disable
    # paths:
    #   - '**/Cargo.toml'
    #   - '**/Cargo.lock'
  schedule:
    - cron: '0 0 * * *'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/cache@v2
        id: cache-cargo
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/advisory-db/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Cargo Audit
        if: steps.cache-cargo.outputs.cache-hi != 'true'
        run: cargo install cargo-audit
      - name: Run Cargo Audit on sys crate
        working-directory: ${{github.workspace}}/project-sys
        run: cargo audit
      - name: Run Cargo Audit on api crate
        working-directory: ${{github.workspace}}/project-rs
        run: cargo audit
